#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.sidebar {
  height: 10vh;
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: absolute;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #242424;
  color: rgb(110, 159, 179);
  padding: 5px 5px;

  /* min-height: 70px;*/
}
.navbar img {
  width: 182px;
  height: 182px;
  position: relative;
  left: 45vw;
}

.footer {
  height: 8vh;
  width: 200px;
  display: flex;
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  overflow: hidden;
  position: absolute;
  bottom: 81vh;
  left: 0;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #535bf2;
}

.title {
  color: aliceblue;
  border: 1px solid white;
  border-radius: 10px;
  width: 25%;
  margin: 5px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deal {
  color: rgb(179, 182, 31);
  border: 1px solid white;
  border-radius: 10px;
  margin: 0px;
  box-shadow: 5px 5px 10px -5px;
  transition: 0.4s;
}
